<?xml version='1.0' encoding='utf-8'?>
<widget id="br.com.projeto.safealert" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SafeAlert</name>
    <description>O SafeAlert é um aplicativo de segurança...</description>
    <author email="nydeborahevelyn@gmail.com" href="https://cordova.apache.org">
        Deborah Evelyn
    </author>
    <content src="index.html" />
    <platform name="android">
        <uses-permission android:name="android.permission.SEND_SMS" />
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        <uses-permission android:name="android.permission.RECORD_AUDIO" />
        <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
        <uses-permission android:name="android.permission.WAKE_LOCK" />
        <icon density="ldpi" src="resources/android/icon/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="resources/android/icon/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="resources/android/icon/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="resources/android/icon/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="resources/android/icon/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="resources/android/icon/drawable-xxxhdpi-icon.png" />
        <splash density="land-ldpi" src="resources/android/splash/drawable-land-ldpi-screen.png" />
        <splash density="land-mdpi" src="resources/android/splash/drawable-land-mdpi-screen.png" />
        <splash density="land-hdpi" src="resources/android/splash/drawable-land-hdpi-screen.png" />
        <splash density="land-xhdpi" src="resources/android/splash/drawable-land-xhdpi-screen.png" />
        <splash density="land-xxhdpi" src="resources/android/splash/drawable-land-xxhdpi-screen.png" />
        <splash density="land-xxxhdpi" src="resources/android/splash/drawable-land-xxxhdpi-screen.png" />
        <splash density="port-ldpi" src="resources/android/splash/drawable-port-ldpi-screen.png" />
        <splash density="port-mdpi" src="resources/android/splash/drawable-port-mdpi-screen.png" />
        <splash density="port-hdpi" src="resources/android/splash/drawable-port-hdpi-screen.png" />
        <splash density="port-xhdpi" src="resources/android/splash/drawable-port-xhdpi-screen.png" />
        <splash density="port-xxhdpi" src="resources/android/splash/drawable-port-xxhdpi-screen.png" />
        <splash density="port-xxxhdpi" src="resources/android/splash/drawable-port-xxxhdpi-screen.png" />
    </platform>
    <platform name="android">
        <preference name="SplashScreen" value="screen" />
        <preference name="SplashScreenDelay" value="3000" />
        <preference name="SplashScreenBackgroundColor" value="#000000" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="resources/android/splash.png" />
    </platform>
    <platform name="android">
        <splash density="mdpi" src="res/drawable-mdpi/splash.png" />
        <splash density="hdpi" src="res/drawable-hdpi/splash.png" />
        <splash density="xhdpi" src="res/drawable-xhdpi/splash.png" />
        <splash density="xxhdpi" src="res/drawable-xxhdpi/splash.png" />
        <splash density="xxxhdpi" src="res/drawable-xxxhdpi/splash.png" />
    </platform>
    <platform name="android">
        <icon density="hdpi" src="res/mipmap-hdpi/ic_launcher.png" />
        <icon density="mdpi" src="res/mipmap-mdpi/ic_launcher.png" />
        <icon density="xhdpi" src="res/mipmap-xhdpi/ic_launcher.png" />
        <icon density="xxhdpi" src="res/mipmap-xxhdpi/ic_launcher.png" />
        <icon density="xxxhdpi" src="res/mipmap-xxxhdpi/ic_launcher.png" />
    </platform>

    <platform name="android">
        <preference name="SplashScreenBackgroundColor" value="#04192f" />
    </platform>


    <plugin name="cordova-plugin-splashscreen" spec="^6.0.0" />
    <plugin name="cordova-plugin-sms" spec="^1.0.0" />
    <plugin name="cordova-plugin-geolocation" spec="^4.0.2" />
    <plugin name="cordova-plugin-speechrecognition" spec="^1.1.2" />
    <plugin name="cordova-plugin-background-mode" spec="^0.7.3" />
</widget>
